<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.sigsag2015.app"
    version   = "0.0.1">

<name>Tizon</name>

<description>
A simple Application for a new age of politics.
</description>

<author href="https://example.com" email="you@example.com">
IVAN SANCHEZ GONZALEZ
</author>

</widget>
